@media (max-width:768px) {

    header{
        padding:0 !important;
       
    }  
    .author-info {
        grid-template-columns: .5fr !important;
    }
    .cardp {
        top: 196px !important;
        margin-top: 40px !important;
        }
}


@media (max-width: 568px){
    header{
        padding:0 !important;
    }      
    .footer{
        padding:0 !important;
    }
    .main h2 span {
        font-size: 1em  !important;
    }
    .main-btn{
        font-size: .8em !important;
    }
    .icon {
        font-size: 3em !important;
    }
    .card {
    width: 15em !important;
     margin-top: 30px !important;
    }
    .author-info {
        grid-template-columns: .5fr !important;
    }
    .bio{
        width:  15em !important;
    }

}


@media(max-width:1023px){
    header{
        padding:12px 20px;
    }

    .navigation a{
        padding-left:10px;
    }

    .title{
        font-size:1.8em;
    }

    section{
        padding:80px 20px;
    }

    .main-content h2{
        font-size:1em;
    }

    .main-content h2{
        font-size:1.6em;
    }

    .content{
        flex-direction:column;
        align-items:center;
    }
}

@media(max-width:641px){
    body{
        font-size:12px;
         
    }

    .main-content h2{
        font-size:0.8em;
    }

    .main-content h3{
        font-size:1.4em;
    }
}

