@import "media.css";
@import "components.css";

section{
    padding:100px 200px;
}


.main h2{
    color:blanchedalmond;
    font-size:1.4em;
    font-weight:500;
}


    .main h3 {
        color: blanchedalmond;
        font-size: 2em;
        font-weight: 700;
        letter-spacing:1px;
        margin-top:10px;
        margin-bottom:30px;
    }

